:root {
  --primary-color: #b3e5fc;
  --p-light-color: #e6ffff;
  --p-dark-color: #82b3c9;

  --secondary-color: #0277bd;
  --s-light-color: #58a5f0;
  --s-dark-color: #004c8c;

  --p-text: #000000;
  --s-text: #ffffff;

  --card-color: #d8d8d8;
  --card-selected-color: #112c50;
  --card-selected-border-color: #91bded;

  --main-wrap: 20;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

th,
td {
  padding: 8px;
  outline: 1px solid;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App > div {
  width: 100%;
}

.header {
  height: 50px;
  background-color: var(--primary-color);
  display: flex;
  padding-left: 40px;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: large;
}

.header .roomID {
  margin-left: 2px;
}

.main {
  height: calc(100% - 50px);
  max-width: 1700px;
  min-height: 460px;
  padding: 20px 40px;
  display: flex;
}

.loginForm,
.roomForm {
  border-radius: 5px;
  background-color: var(--primary-color);
  padding: 10px;
  margin: auto;
}

.userArea {
  width: 100%;
  display: flex;
}

.userArea > div {
  height: 100%;
  outline: 1px solid;
}
.userArea > div > div {
  outline: 1px solid;
}

.userArea > .left {
  flex: 55;
  max-width: 55%;
  overflow: hidden;
}
.userArea > .right {
  flex: 45;
  display: flex;
  flex-direction: column;
}

.pokerScrum {
  height: 80%;
}

.chatRoom {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chatRoomHead {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  font-weight: 700;
  font-size: 1.75rem;
}

.messageDisplay {
  flex: 1;
  overflow-y: scroll;
}

.messageInputArea {
  height: 90px;
  display: flex;
  align-items: center;
}
.messageInputArea form {
  display: flex;
  flex: 1;
  padding: 5px;
}

.messageInputArea input {
  flex: 1 1;
  height: 3rem;
  width: 0;
  font-size: 1rem;
}
.messageInputArea button {
  width: 15%;
  min-width: 5rem;
}

.messageItem {
  display: flex;
  margin-bottom: 0.1em;
  padding: 4px;
}
.messageItem p {
  word-wrap: break-word;
}
.messageItem.right {
  flex-direction: row-reverse;
}

.messageBox {
  max-width: 80%;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #b5d2dd;
}
.messageItem.right .messageBox {
  background-color: #80b6e5;
}
.userEmail {
  font-weight: 700;
}

.onlineUsersDisplay {
  height: 20%;
  display: flex;
  flex-direction: column;
}
.onlineUsersDisplay h3 {
  text-align: center;
}

.userList {
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.userList span {
  background: #ffdf6c;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 4px 8px;
}
.pokerScrum > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

.cardsContainer {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.card {
  width: 18%;
  aspect-ratio: 0.8;
  background-color: var(--card-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.card.selected {
  background-color: #fbd662;
  outline: 2px solid #1f399f;
}

.storiesContainer {
  width: 100%;
  height: 100%;
  padding: 5px 10px 0 10px;
  margin-bottom: 0.5rem;
  overflow-y: scroll;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.storyItem {
  outline: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.confirmBtn {
  margin: 0 auto;
  display: flex;
  background-color: var(--p-light-color);
  outline: 1px solid;
  padding: 8px 35px;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
}

.main h3,
.main h4,
.main p {
  margin-bottom: 6px;
}

.storyItem.selected {
  background-color: #80b6e5;
}

.resultBoard {
  width: 100%;
}

.resultBoard .email {
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .userArea {
    flex-direction: column;
    min-height: 1200px;
  }
  .userArea > .left {
    max-width: unset;
  }
}
@media screen and (max-width: 414px) {
  .card {
    width: 22%;
  }
}
